{% extends "base-sitio.j2" %}

{% block title %}Sabor Mirandiano{% endblock title%}


{% block page_body %}
<!-- BEGIN PAGE BODY -->
<main id="content">
  <!--- https://unsplash.com/photos/steamed-rice-and-meat-dish-EdzsUFqHbaY?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink -->
  <header class="img-bg" style="background-image: url({{ url_for('static', filename='/img/site-cover.jpg', v=app_version)}})">
    <div class="hero position-relative bg-primary py-12" style="--tblr-bg-opacity: 0.9">
      <div class="container-narrow">
        <h1 class="hero-title text-white">Tenemos sorpresas para tí y tu familia</h1>
        <p class="hero-description mb-5 text-white text-opacity-50">
          Es hora de modernizarnos, asi que desde ahora podrás comprar y reservar los almuerzos de tus hijos directamente en nuestro sitio, tus hijos podrán de manera segura, rapida, y eficiente comer en el colegio sin más preocupaciones o cuentas por pagar.
        </p>
        <div class="row gx-lg-5 justify-content-center">
          <div class="col-xl-6 col-lg-8 text-center align-items-center">
            <div class="col">
              <a href="{{ url_for('security.register') }}" class="btn btn-lg btn-teal fw-500">Crear Cuenta</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="section section-white">
    <svg class="section-divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145 36" preserveAspectRatio="none">
      <path d="M 145 36 m -145 -18 s 32.36 18 72.27 18 s 72.73 -18 72.73 -18 v 18 h -145 z"></path>
    </svg>
    <div class="container">
      <div class="row g-lg-6">
        {% for dia, menus in menues.items() %}
        <div class="col-md-6">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{{ dia }}</h3>
            </div>
            <div class="card-body">
              <div id="carousel-{{ dia }}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  {% for menu in menus %}
                  <div class="carousel-item active">
                    <img class="d-block w-100" alt="" src="{{ url_for('static', filename='img/' ~ menu.fondos[0].fotos[0], v=app_version) }}" />
                    <div class="carousel-caption-background d-none d-md-block"></div>
                    <div class="carousel-caption d-none d-md-block">
                      <h3>{{ menu.descripcion }}</h3>
                      <p>{{ menu.entradas[0].nombre }} - {{ menu.postres[0].nombre }}</p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel-{{ dia }}" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-{{ dia }}" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
              </div>
            </div>
            <div class="card-footer"><a href="{{ url_for('apoderado_cliente.menu_casino') }}" class="btn btn-primary w-100">Armar Menú</a></div>
          </div>

        </div>
        {% endfor %}


        <div class="row g-2 align-items-center m-3">
          <div class="col">
            <h2 class="page-title">Martes 2/12</h2>
          </div>
        </div>
        <div class="row g-lg-6">
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <a href="#">
                <div class="img-bg ratio ratio-4x3 card-img-top" style="background-image: url({{ url_for('static', filename='img/mar-car.jpg', v=app_version)}})"></div>
              </a>
              <div class="card-body">
                <div class="h1 mb-2 fw-bold">Carne Mechada con Puré de Papas</div>
                <div>
                  <div class="text-secondary">Choclo, Lechucha, Zanahoria</div>
                  <div class="d-flex mb-4 text-secondary">
                    <div class="d-block d-flex align-items-center me-3">
                      Jalea
                    </div>
                  </div>
                  <a href="{{ url_for('apoderado_cliente.menu_casino') }}" class="btn btn-primary py-2 px-3">Armar Menu</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card">
              <a href="#">
                <div class="img-bg ratio ratio-4x3 card-img-top" style="background-image: url({{ url_for('static', filename='img/mar-veg.jpg', v=app_version)}})"></div>
              </a>
              <div class="card-body">
                <div class="h1 mb-2 fw-bold">Croquetas de Verdura</div>
                <div>
                  <div class="text-secondary">Choclo, Lechucha, Zanahoria</div>
                  <div class="d-flex mb-4 text-secondary">
                    <div class="d-block d-flex align-items-center me-3">
                      Jalea
                    </div>
                  </div>
                  <a href="{{ url_for('apoderado_cliente.menu_casino') }}" class="btn btn-primary py-2 px-3">Armar Menu</a>
                </div>
              </div>
            </div>
          </div>
        </div>




      </div>
  </section>
</main>
<!-- END PAGE BODY -->

{% endblock page_body %}
