{% extends "base.html" %}

{% block page_header -%}
<div class="page-header d-print-none text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="fw-bold m-0">Abonos</h1>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock page_header -%}


{% block page_body %}

<div class="container-xl">
  <div class="row g-3">
    <div class="col">
      <ul class="timeline">
        <li class="timeline-event">
          <div class="timeline-event-icon bg-x-lt">
            <!-- Download SVG icon from http://tabler.io/icons/icon/brand-x -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-1">
              <path d="M4 4l11.733 16h4.267l-11.733 -16z" />
              <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" />
            </svg>
          </div>
          <div class="card timeline-event-card">
            <div class="card-body">
              <div class="text-secondary float-end">10 days ago</div>
              <h4>Abono Web</h4>
              <p class="text-secondary">$10.000</p>
            </div>
          </div>
        </li>
        <li class="timeline-event">
          <div class="timeline-event-icon">
            <!-- Download SVG icon from http://tabler.io/icons/icon/briefcase -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-1">
              <path d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" />
              <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" />
              <path d="M12 12l0 .01" />
              <path d="M3 13a20 20 0 0 0 18 0" />
            </svg>
          </div>
          <div class="card timeline-event-card">
            <div class="card-body">
              <div class="text-secondary float-end">2 months ago</div>
              <h4>Abono Web</h4>
              <p class="text-secondary">$15.000</p>
            </div>
          </div>
        </li>
        <li class="timeline-event">
          <div class="timeline-event-icon">
            <!-- Download SVG icon from http://tabler.io/icons/icon/check -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-1">
              <path d="M5 12l5 5l10 -10" />
            </svg>
          </div>
          <div class="card timeline-event-card">
            <div class="card-body">
              <div class="text-secondary float-end">3 months ago</div>
              <h4>Abono POS</h4>
              <p class="text-secondary">$7.000</p>
            </div>
          </div>
        </li>
        <li class="timeline-event">
          <div class="timeline-event-icon bg-facebook-lt">
            <!-- Download SVG icon from http://tabler.io/icons/icon/brand-facebook -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-1">
              <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
            </svg>
          </div>
          <div class="card timeline-event-card">
            <div class="card-body">
              <div class="text-secondary float-end">3 months ago</div>
              <h4>Abono POS</h4>
              <p class="text-secondary">$8.000</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock page_body %}
