{% extends "base-bare.html" %}

{% macro print_check(field) %}
{% if field %}
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon text-green icon-2">
  <path d="M5 12l5 5l10 -10" />
</svg>
Si
{% else %}
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon text-danger icon-2">
  <path d="M18 6l-12 12" />
  <path d="M6 6l12 12" />
</svg>
No
{% endif %}
{% endmacro %}
{% block page_body %}
<div class="container py-4">
  <div class="card card-md">
    <div class="card-header">
      <h3 class="card-title">Registro Completado!</h3>
    </div>
    <div class="card-body">
      <div class="datagrid">
        <div class="datagrid-item">
          <div class="datagrid-title">Apoderado</div>
          <div class="datagrid-content">{{ apoderado.nombre }}</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Correo Apoderado</div>
          <div class="datagrid-content">{{ apoderado.usuario.email }}</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Teléfono Apoderado</div>
          <div class="datagrid-content">+{{ apoderado.usuario.username }}</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Cantidad de Alumnos</div>
          <div class="datagrid-content">{{ apoderado.alumnos_registro }}</div>
        </div>
        {% for a in apoderado.alumnos %}
        <div class="datagrid-item">
          <div class="datagrid-title">Nombre</div>
          <div class="datagrid-content">{{ a.nombre  }}</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Edad</div>
          <div class="datagrid-content">{{ a.slug  }}</div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Curso Alumno</div>
          <div class="datagrid-content">
            <span class="status status-green"> {{ a.curso  }} </span>
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title"></div>
          <div class="datagrid-content"></div>
        </div>
        {% endfor %}
        <div class="datagrid-item">
          <div class="datagrid-title">Notificación de abono/transferencia</div>
          <div class="datagrid-content">
            {{ print_check(apoderado.comprobantes_transferencia) }}
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Notificación de compra</div>
          <div class="datagrid-content">
            {{ print_check(apoderado.notificacion_compra) }}
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Tag Compartido</div>
          <div class="datagrid-content">
            {{ print_check(apoderado.tag_compartido) }}
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Informe Semanal</div>
          <div class="datagrid-content">
            {{ print_check(apoderado.informe_semanal) }}
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Limite diario</div>
          <div class="datagrid-content">
            <input type="text" class="form-control form-control-flush" placeholder="${{ apoderado.maximo_diario }}" />
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Limite semanal</div>
          <div class="datagrid-content">
            <input type="text" class="form-control form-control-flush" placeholder="${{ apoderado.maximo_semanal }}" />
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Limite para aviso de saldo bajo</div>
          <div class="datagrid-content">
            <input type="text" class="form-control form-control-flush" placeholder="${{ apoderado.limite_notificacion }}" />
          </div>
        </div>
        <div class="datagrid-item">
          <div class="datagrid-title">Copia Notificaiones</div>
          <div class="datagrid-content">{{ apoderado.copia_notificaciones }}</div>
        </div>
      </div>
      <hr>
      <a href="{{ url_for('core.index') }}" class="btn btn-primary btn-2"> Volver al Inicio </a>
      <p>Si desea agregar más alumnos puede hacerlo en <span class="status status-info"> Perfil de Apoderado </span>.</p>
    </div>
  </div>
</div>
{% endblock page_body %}
