{% set title = title|default(_fsdomain('Login')) %}
{% extends "base-security.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors, render_form_errors, prop_next %}

{% block content %}
<div class="row g-0 flex-fill">
  <div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
    <div class="container container-tight my-5 px-lg-5">

      <h2 class="h3 text-center mb-3">Bienvenido a Sabor Mirandiano</h2>
      <form action="{{ url_for_security('login') }}{{ prop_next() }}" method="post" autocomplete="off" name="login_user_form" class="needs-validation" novalidate>
        {{ login_user_form.hidden_tag() }}
        {{ render_form_errors(login_user_form) }}
        <div class="mb-3">
          <label class="form-label">Correo Electrónico</label>
          <input type="text" class="form-control" placeholder="correo@email.com" name="email" required />
          {{ render_field_errors(login_user_form.email) }}
        </div>
        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <div class="input-group input-group-flat mb-2">
            <input type="password" class="form-control" placeholder="Contraseña" autocomplete="off" name="password" required />
            <button id="toggle-password" type="button" class="d-none" aria-label="Show password as plain text. Warning: this will display your password on the screen."></button>
          </div>
          {{ render_field_errors(login_user_form.password) }}
        </div>

        <div class="mb-2">
          <label class="form-check">
            <input type="checkbox" class="form-check-input" name="remember" value="yes" />
            <span class="form-check-label">Recordar mis datos</span>
          </label>
        </div>
        <div class="form-footer">
          {{ render_field_errors(login_user_form.csrf_token) }}
          <button type="submit" class="btn btn-primary w-100">Ingresar</button>
        </div>
      </form>
      <div class="text-center text-secondary mt-3">No tienes una cuenta? <a href="{{ url_for_security('register') }}" tabindex="-1">Crear Cuenta</a></div>
    </div>
  </div>
  <div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
    <!-- Photo -->
    <div class="bg-cover h-100 min-vh-100" style="background-image: url(/static/img/login-cover.webp)"></div>
  </div>
</div>
<script>
  const form = document.querySelector('.needs-validation');

  form.addEventListener('submit', (e) => {
    if (!form.checkValidity()) {
      e.preventDefault();
      e.stopPropagation();
    }

    form.classList.add('was-validated');
  }, false);
</script>

{% endblock content %}

{% block head_styles %}
<link href="{{ url_for('static', filename='tabler/libs/password-toggle/css/show-password-toggle.min.css', v=app_version)}}" rel="stylesheet" />
{% endblock %}
{% block page_scripts %}
<script src="{{ url_for('static', filename='tabler/libs/password-toggle/js/show-password-toggle.min.js', v=app_version)}}"></script>
{% endblock %}
