{% set title = title|default(_fsdomain('Register')) %}
{% extends "base-security.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field, render_form_errors, render_field_errors %}

{% block content %}
<div class="row g-0 flex-fill">
  <div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
    <div class="container container-tight my-5 px-lg-5">

      <h2 class="h3 text-center mb-3">Bienvenido a Sabor Mirandiano</h2>
      <form action="{{ url_for_security('register') }}" method="post" autocomplete="off" name="register_user_form" class="needs-validation" novalidate>
        {{ register_user_form.hidden_tag() }}
        {{ render_form_errors(register_user_form) }}
        <div class="mb-3">
          <label class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" placeholder="correo@email.com" name="email" required />
          {{ render_field_errors(register_user_form.email) }}
        </div>

        <div class="mb-3">
          <label class="form-label">Telefono Celular</label>
          <input type="tel" class="form-control" placeholder="56987654321" minlength="11" maxlength="11" name="username" required />
          {{ render_field_errors(register_user_form.username) }}
        </div>
        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <div class="input-group input-group-flat mb-2">
            <input type="password" class="form-control" placeholder="Contraseña" autocomplete="off" name="password" required />
            <button id="toggle-password" type="button" class="d-none" aria-label="Show password as plain text. Warning: this will display your password on the screen."></button>
          </div>
          {{ render_field_errors(register_user_form.password) }}
          <label class="form-label">Confirmar Contraseña</label>
          <div class="input-group input-group-flat">
            <input type="password" id="password_confirm" class="form-control" placeholder="Misma Contraseña" autocomplete="off" name="password_confirm" required />
            <span class="input-group-text">
              <a href="#" class="link-secondary" title="Show password" aria-label="Show password as plain text. Warning: this will display your password on the screen." onclick="return toggleConfirmPassword(this);"><!-- Download SVG icon from http://tabler.io/icons/icon/eye -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-1">
                  <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                  <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                </svg></a>
            </span>
          </div>
          {{ render_field_errors(register_user_form.password_confirm) }}
        </div>
        <div class="form-footer">
          {{ render_field_errors(register_user_form.csrf_token) }}
          <button type="submit" class="btn btn-primary w-100">Crear Cuenta</button>
        </div>
      </form>
      <div class="text-center text-secondary mt-3">Ya tienes una cuenta? <a href="{{ url_for_security('login') }}" tabindex="-1">Ingresar</a></div>
    </div>
  </div>
  <div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
    <!-- Photo -->
    <div class="bg-cover h-100 min-vh-100" style="background-image: url(/static/img/login-cover.webp)"></div>
  </div>
</div>
<script>
  const register_form = document.querySelector('.needs-validation');

  register_form.addEventListener('submit', (e) => {
    if (!register_form.checkValidity()) {
      e.preventDefault();
      e.stopPropagation();
    }

    register_form.classList.add('was-validated');
  }, false);
</script>

{% endblock content %}

{% block head_styles %}
<link href="{{ url_for('static', filename='tabler/libs/password-toggle/css/show-password-toggle.min.css', v=app_version)}}" rel="stylesheet" />
{% endblock %}
{% block page_scripts %}
<script src="{{ url_for('static', filename='tabler/libs/password-toggle/js/show-password-toggle.min.js', v=app_version)}}"></script>
<script>
  function toggleConfirmPassword(btn) {
    var input = document.getElementById('password_confirm');
    if (input.type === 'password') {
      input.type = 'text';
      btn.setAttribute('aria-label', 'Hide password.');
    } else {
      input.type = 'password';
      btn.setAttribute('aria-label', 'Show password as plain text. Warning: this will display your password on the screen.');
    }
    return false;
  }
</script>
{% endblock %}
{#
{% from "security/_macros.html" import render_field_with_errors, render_field, render_form_errors, render_field_errors %}

{% block content %}
{% include "security/_messages.html" %}
<h1>Crear Cuenta</h1>
<form action="{{ url_for_security('register') }}" method="post" name="register_user_form">
  {{ register_user_form.hidden_tag() }}
  {{ render_form_errors(register_user_form) }}
  {{ render_field_with_errors(register_user_form.email) }}
  {% if register_user_form.username %}
  {{ render_field_with_errors(register_user_form.username) }}
  {% endif %}
  {{ render_field_with_errors(register_user_form.password) }}
  {% if register_user_form.password_confirm %}
  {{ render_field_with_errors(register_user_form.password_confirm) }}
  {% endif %}
  {{ render_field_errors(register_user_form.csrf_token) }}
  {{ render_field(register_user_form.submit) }}
</form>
{% include "security/_menu.html" %}
{% endblock content %}
#}
