[Unit]
Description=Sabormirandiano Celery Worker
After=network.target

[Service]
User=zvn
Group=zvn
WorkingDirectory=/home/zvn/apps/sabormirandiano.cl
Environment="PATH=/home/zvn/apps/sabormirandiano.cl/.venv/bin"
ExecStart=/home/zvn/apps/sabormirandiano.cl/.venv/bin/celery \
    -A celery_app.celery_app worker --loglevel=info
Restart=always
RestartSec=10
KillSignal=SIGTERM
TimeoutStopSec=60
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
