{% extends "base-pos.html" %}

{% block page_header -%}
<div class="page-header d-print-none text-white">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <h1 class="page-title">Nueva Venta</h1>
      </div>
    </div>
  </div>
</div>
{% endblock page_header -%}

{% block page_body %}
<div class="container-xl">
  <div class="row row-deck row-cards">
    <div class="col-md-12 col-lg-7">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Productos</h3>
        </div>
        <div class="card-body">
          <div class="row row-cards">
            <div class="col-sm-6 col-lg-4">
              <div class="card card-sm">
                <a href="#" class="d-block"><img src="https://images.unsplash.com/photo-1622597467836-f3285f2131b8?q=80&w=300&auto=format&fit=crop&ixlib=rb-4.1.0" class="card-img-top" /></a>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div>
                      <div>Jugo Natural</div>
                      <div class="text-secondary">$2.900</div>
                    </div>
                    <div class="ms-auto">
                      <a href="#" class="text-secondary">
                        <!-- Download SVG icon from http://tabler.io/icons/icon/eye -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-1">
                          <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                          <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                        </svg>
                        Agregar
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="card card-sm">
                <a href="#" class="d-block"><img src="https://images.unsplash.com/photo-1607958996333-41aef7caefaa?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" class="card-img-top" /></a>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div>
                      <div>Muffin Variedades</div>
                      <div class="text-secondary">$2.000</div>
                    </div>
                    <div class="ms-auto">
                      <a href="#" class="text-secondary">
                        <!-- Download SVG icon from http://tabler.io/icons/icon/eye -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-1">
                          <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                          <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                        </svg>
                        Agregar
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="card card-sm">
                <a href="#" class="d-block"><img src="https://plus.unsplash.com/premium_photo-1664283734034-9eac59c2bc7f?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" class="card-img-top" /></a>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div>
                      <div>Galleta Avena</div>
                      <div class="text-secondary">$700</div>
                    </div>
                    <div class="ms-auto">
                      <a href="#" class="text-secondary">
                        <!-- Download SVG icon from http://tabler.io/icons/icon/eye -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-1">
                          <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                          <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                        </svg>
                        Agregar
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4">
              <div class="card card-sm">
                <a href="#" class="d-block"><img src="https://images.unsplash.com/photo-1555821768-54cd53df8983?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.1.0" class="card-img-top" /></a>
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div>
                      <div>Menu Casino</div>
                      <div class="text-secondary">$4.400</div>
                    </div>
                    <div class="ms-auto">
                      <a href="#" class="text-secondary">
                        <!-- Download SVG icon from http://tabler.io/icons/icon/eye -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-1">
                          <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                          <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                        </svg>
                        Agregar
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-5">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Pago</h3>
        </div>
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-5">
              <label class="form-label"> Producto </label>
              <input type="text" value="Galleta Avena" class="form-control" />
            </div>
            <div class="col-3">
              <label class="form-label"> Cant. </label>
              <input type="number" value="1" class="form-control" />
            </div>
            <div class="col-4">
              <label class="form-label"> Valor </label>
              <input type="number" value="700" class="form-control" />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-5">
              <input type="text" value="Jugo Natural" class="form-control" />
            </div>
            <div class="col-3">
              <input type="number" value="1" class="form-control" />
            </div>
            <div class="col-4">
              <input type="number" value="1200" class="form-control" />
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-5">

            </div>
            <div class="col-3">
              <label class="form-label"> Total </label>
            </div>
            <div class="col-4">
              <input type="number" value="1900" class="form-control" readonly />
            </div>
          </div>
          <hr>
          <div class="mb-3 row">
            <div class="col">
              <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
                <label class="form-selectgroup-item flex-fill">
                  <input type="radio" name="form-payment" value="nfc" class="form-selectgroup-input" />
                  <div class="form-selectgroup-label d-flex align-items-center p-3">
                    <div class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </div>
                    <div>
                      <span class="payment payment-provider-googlewallet payment-xs me-2"></span>
                      Billetera Digital via <strong>NFC</strong> <sup class="text-secondary">(Sólo disponible en Android)</sup>
                    </div>
                  </div>
                </label>
                <label class="form-selectgroup-item flex-fill">
                  <input type="radio" name="form-payment" value="qrcode" class="form-selectgroup-input" />
                  <div class="form-selectgroup-label d-flex align-items-center p-3">
                    <div class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </div>
                    <div>
                      <span class="payment payment-provider-braintree-dark payment-xs me-2"></span>
                      Billetera Digital via <strong>QR/CodigoBilletera</strong>
                    </div>
                  </div>
                </label>
                <label class="form-selectgroup-item flex-fill">
                  <input type="radio" name="form-payment" value="sumup" class="form-selectgroup-input" checked />
                  <div class="form-selectgroup-label d-flex align-items-center p-3">
                    <div class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </div>
                    <div>
                      <span class="payment payment-provider-applepay payment-xs me-2"></span>
                      Pago electronico via <strong>SumUp</strong>
                    </div>
                  </div>
                </label>
                <label class="form-selectgroup-item flex-fill">
                  <input type="radio" name="form-payment" value="efectivo" class="form-selectgroup-input" />
                  <div class="form-selectgroup-label d-flex align-items-center p-3">
                    <div class="me-3">
                      <span class="form-selectgroup-check"></span>
                    </div>
                    <div>
                      <span class="payment payment-provider-cash-app payment-xs me-2"></span>
                      <strong>Efectivo</strong>
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <a href="#" class="btn btn-link">Cancelar</a>
            <a href="#" class="btn btn-success ms-auto">Pagar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock page_body -%}
