<!doctype html>
<html {% block html_attribs %}{% endblock html_attribs %}>
  {%- block html %}

  <head>
    {%- block head %}
    <title>{% block title %}Storefront{{ title|default }}{% endblock title %}</title>

    {%- block metas %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {%- endblock metas %}

    {% block favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png', v=app_version)}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png', v=app_version)}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png', v=app_version)}}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest', v=app_version)}}">
    {% endblock favicon %}

    <link href="{{ url_for('static', filename='tabler/css/tabler.css', v=app_version)}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='tabler/css/tabler-themes.css', v=app_version)}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='tabler/css/tabler-payments.css', v=app_version)}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='tabler/css/tabler-marketing.css', v=app_version)}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='tabler/css/tabler-socials.css', v=app_version)}}" rel="stylesheet" />

    <style>
      @import url("https://rsms.me/inter/inter.css");
    </style>

    {%- block head_styles %}
    <style>
      .btn-floating-end {
        position: fixed;
        z-index: 1030;
        bottom: 1rem;
        right: 1rem;
        box-shadow: var(--tblr-shadow-dropdown);
      }
    </style>
    {%- endblock head_styles %}

    {%- block head_scripts %}

    {%- endblock head_scripts %}
    <script defer src="https://cloud.umami.is/script.js" data-website-id="3805dd49-3ca8-450d-9ec2-82e436b23b58"></script>
    {%- endblock head %}
  </head>

  <body class="body-marketing body-gradient">


    <!-- BEGIN NAVBAR  -->
    <header role="banner">
      <header class="navbar navbar-expand-lg navbar-transparent py-3">
        <div class="container">
          <!-- BEGIN NAVBAR LOGO -->
          <a href="{{ url_for('core.index')}}" aria-label="Sabor Mirandiano" class="navbar-brand navbar-brand-autodark">
            <svg xmlns="http://www.w3.org/2000/svg" width="145" height="24" viewBox="0 0 145 24" fill="none" stroke="#4299e1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 11h16a1 1 0 0 1 1 1v.5c0 1.5 -2.517 5.573 -4 6.5v1a1 1 0 0 1 -1 1h-8a1 1 0 0 1 -1 -1v-1c-1.687 -1.054 -4 -5 -4 -6.5v-.5a1 1 0 0 1 1 -1" />
              <path d="M8 7c1.657 0 3 -.895 3 -2s-1.343 -2 -3 -2s-3 .895 -3 2s1.343 2 3 2" />
              <path d="M11 5h9" />

              <text x="30" y="8" font-family="Inter" font-size="11" font-weight="600" fill="#4299e1" stroke="none">Sabor</text>
              <text x="45" y="23" font-family="Inter" font-size="16" font-weight="600" fill="#4299e1" stroke="none">Mirandiano</text>
            </svg>
          </a>
          <!-- END NAVBAR LOGO -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuPrincipal" aria-controls="menuPrincipal" aria-expanded="false" aria-label="Abrir Menu Principal">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="menuPrincipal">
            <nav aria-label="Menu Principal">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/"><span class="nav-link-title">Inicio</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#nosotros"><span class="nav-link-title">Sobre Nosotros</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#ayuda"><span class="nav-link-title">Ayuda</span></a>
                </li>
                <li class="nav-item ms-4">
                  {% if current_user.is_authenticated %}

                  <a href="{{ url_for('apoderado_cliente.index') }}" class="btn btn-primary">Mi Cuenta</a>
                  {% else %}
                  <a href="{{ url_for('security.login') }}" class="btn btn-primary">Ingresar</a>
                  {% endif %}
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
    </header>
    <!-- END NAVBAR  -->

    <div class="page">

      <div class="page-wrapper">

        <!-- BEGIN PAGE HEADER -->
        {% block page_header -%}
        {% endblock page_header -%}
        <!-- END PAGE HEADER -->

        <!-- BEGIN PAGE BODY -->
        <main id="content" class="page-body">
          {% block page_body -%}
          {% endblock page_body -%}
        </main>
        <!-- END PAGE BODY -->
        <!-- BEGIN FOOTER -->
        <footer class="footer">
          <div class="container">
            <div class="py-3">
              <div class="row g-lg-4">
                <div class="col-lg-7">
                  <div class="row g-lg-4">
                    <div class="col-md">
                      <div class="subheader mb-3">Sabor Mirandiano</div>
                      <ul class="list-unstyled list-separated gap-2">
                        <li><a class="link-secondary" href="">Casino</a></li>
                        <li>
                          <a class="link-secondary" href="">Cafetería</a>
                        </li>
                        <li>
                          <a class="link-secondary" href="">Ayuda</a>
                        </li>
                        <li><a class="link-secondary" href="">Sobre Nosotros</a></li>
                      </ul>
                    </div>
                    <div class="col-md">
                      <div class="subheader mb-3">Soporte</div>
                      <ul class="list-unstyled list-separated gap-2">
                        <li><a class="link-secondary" href="">Contacto</a></li>
                      </ul>
                    </div>

                  </div>
                </div>
                <div class="col-lg-4 ml-auto">
                  <div class="text-secondary">
                    Sabor Mirandiano es parte de la familia del Colegio Francisco de Miranda.
                  </div>
                </div>
              </div>
              <div class="row g-lg-4 justify-content-between mt-0 mt-md-2">
                <div class="col-sm-7 col-md-6 col-lg-4">

                </div>
                <div class="col-sm-5 col-md-6 col-lg-3 text-sm-end">
                  <h5 class="subheader">Hablemos!</h5>
                  <ul class="list-inline mb-0 mt-3">
                    {# <li class="list-inline-item">
              <a class="btn btn-icon btn-facebook" href="#"><!-- Download SVG icon from http://tabler.io/icons/icon/brand-facebook -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-1">
                  <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                </svg></a>
            </li> #}
                    <li class="list-inline-item">
                      <a class="btn btn-icon btn-instagram" href="https://www.instagram.com/sabormirandiano/"><!-- Download SVG icon from http://tabler.io/icons/icon/brand-instagram -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-1">
                          <path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                          <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                          <path d="M16.5 7.5v.01" />
                        </svg></a>
                    </li>
                    {# <li class="list-inline-item">
              <a class="btn btn-icon btn-twitter" href="#"><!-- Download SVG icon from http://tabler.io/icons/icon/brand-twitter -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-1">
                  <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z" />
                </svg></a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-icon btn-linkedin" href="#"><!-- Download SVG icon from http://tabler.io/icons/icon/brand-linkedin -->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-1">
                  <path d="M8 11v5" />
                  <path d="M8 8v.01" />
                  <path d="M12 16v-5" />
                  <path d="M16 16v-3a2 2 0 1 0 -4 0" />
                  <path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z" />
                </svg></a>
            </li> #}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <footer class="footer">
          <div class="container">
            <div class="py-3 border-top-light text-center text-lg-start">
              <div class="row g-lg-4">
                <div class="col-lg-auto text-lg-end order-lg-lat">
                  <div class="row justify-center">
                    <div class="col-auto">©<a href="https://www.instagram.com/sabormirandiano/" class="link-secondary" target="_blank" rel="noopener noreferrer">sabormirandiano</a></div>
                    <div class="col-auto">
                      <ul class="list-inline list-inline-dots">
                        <li class="list-inline-item">
                          <a class="link-secondary" href="/terms-of-service">Términos y Condiciones</a>
                        </li>
                        <li class="list-inline-item">
                          <a class="link-secondary" href="/privacy-policy">Política de Privacidad</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg">
                  Hecho con
                  <!-- Download SVG icon from http://tabler.io/icons/icon/heart -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon text-red icon-inline icon-4">
                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                  </svg>
                  en Chile.
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- END FOOTER -->a
      </div>
    </div>

    <a href="#top" class="btn btn-floating-end btn-icon btn-success btn-pill btn-outline">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 10l0 10" />
        <path d="M12 10l4 4" />
        <path d="M12 10l-4 4" />
        <path d="M4 4l16 0" />
      </svg>
    </a>

    <div class="settings">
      <a href="#" class="btn btn-floating btn-icon btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSettings" aria-controls="offcanvasSettings" aria-label="Theme Settings">
        <!-- Download SVG icon from http://tabler.io/icons/icon/brush -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-1">
          <path d="M3 21v-4a4 4 0 1 1 4 4h-4" />
          <path d="M21 3a16 16 0 0 0 -12.8 10.2" />
          <path d="M21 3a16 16 0 0 1 -10.2 12.8" />
          <path d="M10.6 9a9 9 0 0 1 4.4 4.4" />
        </svg>
      </a>
      <form class="offcanvas offcanvas-start offcanvas-narrow" tabindex="-1" id="offcanvasSettings" role="dialog" aria-modal="true" aria-labelledby="offcanvasSettingsTitle">
        <div class="offcanvas-header">
          <h2 class="offcanvas-title" id="offcanvasSettingsTitle">Theme Settings</h2>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column">
          <div>
            <div class="mb-4">
              <label class="form-label">Color mode</label>
              <p class="form-hint">Choose the color mode for your app.</p>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme" value="light" class="form-check-input" checked />
                  <div class="form-check-label">Light</div>
                </div>
              </label>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme" value="dark" class="form-check-input" />
                  <div class="form-check-label">Dark</div>
                </div>
              </label>
            </div>
            <div class="mb-4">
              <label class="form-label">Color scheme</label>
              <p class="form-hint">The perfect color mode for your app.</p>
              <div class="row g-2">
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="blue" class="form-colorinput-input" />
                    <span class="form-colorinput-color bg-blue"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="azure" class="form-colorinput-input" />
                    <span class="form-colorinput-color bg-azure"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="indigo" class="form-colorinput-input" />
                    <span class="form-colorinput-color bg-indigo"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="purple" class="form-colorinput-input" />
                    <span class="form-colorinput-color bg-purple"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="pink" class="form-colorinput-input" />
                    <span class="form-colorinput-color bg-pink"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="red" class="form-colorinput-input" />
                    <span class="form-colorinput-color bg-red"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="orange" class="form-colorinput-input" />
                    <span class="form-colorinput-color bg-orange"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="yellow" class="form-colorinput-input" />
                    <span class="form-colorinput-color bg-yellow"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="lime" class="form-colorinput-input" />
                    <span class="form-colorinput-color bg-lime"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="green" class="form-colorinput-input" />
                    <span class="form-colorinput-color bg-green"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="teal" class="form-colorinput-input" />
                    <span class="form-colorinput-color bg-teal"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="cyan" class="form-colorinput-input" />
                    <span class="form-colorinput-color bg-cyan"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Font family</label>
              <p class="form-hint">Choose the font family that fits your app.</p>
              <div>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-font" value="sans-serif" class="form-check-input" checked />
                    <div class="form-check-label">Sans-serif</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-font" value="serif" class="form-check-input" />
                    <div class="form-check-label">Serif</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-font" value="monospace" class="form-check-input" />
                    <div class="form-check-label">Monospace</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-font" value="comic" class="form-check-input" />
                    <div class="form-check-label">Comic</div>
                  </div>
                </label>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Theme base</label>
              <p class="form-hint">Choose the gray shade for your app.</p>
              <div>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-base" value="slate" class="form-check-input" />
                    <div class="form-check-label">Slate</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-base" value="gray" class="form-check-input" checked />
                    <div class="form-check-label">Gray</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-base" value="zinc" class="form-check-input" />
                    <div class="form-check-label">Zinc</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-base" value="neutral" class="form-check-input" />
                    <div class="form-check-label">Neutral</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-base" value="stone" class="form-check-input" />
                    <div class="form-check-label">Stone</div>
                  </div>
                </label>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Corner Radius</label>
              <p class="form-hint">Choose the border radius factor for your app.</p>
              <div>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-radius" value="0" class="form-check-input" />
                    <div class="form-check-label">0</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-radius" value="0.5" class="form-check-input" />
                    <div class="form-check-label">0.5</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-radius" value="1" class="form-check-input" checked />
                    <div class="form-check-label">1</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-radius" value="1.5" class="form-check-input" />
                    <div class="form-check-label">1.5</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-radius" value="2" class="form-check-input" />
                    <div class="form-check-label">2</div>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="mt-auto space-y">
            <button type="button" class="btn w-100" id="reset-changes">
              <!-- Download SVG icon from http://tabler.io/icons/icon/rotate -->
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-1">
                <path d="M19.95 11a8 8 0 1 0 -.5 4m.5 5v-5h-5" />
              </svg>
              Reset changes
            </button>
            <a href="#" class="btn btn-primary w-100" data-bs-dismiss="offcanvas"> Save </a>
          </div>
        </div>
      </form>
    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{{ url_for('static', filename='tabler/js/tabler.min.js', v=app_version)}}" defer></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE SCRIPTS -->
    <script>
      /*
  This script handles the theme settings offcanvas functionality
  It saves the selected settings to localStorage and applies them to the document
  It also updates the URL with the selected settings as query parameters
  It also has a reset button to clear all settings and revert to default
  This is just a demo script to show how to implement theme settings. You can modify it as needed.
  */
      document.addEventListener("DOMContentLoaded", function () {
        var themeConfig = {
          theme: "light",
          "theme-base": "gray",
          "theme-font": "sans-serif",
          "theme-primary": "blue",
          "theme-radius": "1",
        };
        var url = new URL(window.location);
        var form = document.getElementById("offcanvasSettings");
        var resetButton = document.getElementById("reset-changes");
        var checkItems = function () {
          for (var key in themeConfig) {
            var value = window.localStorage["tabler-" + key] || themeConfig[key];
            if (!!value) {
              var radios = form.querySelectorAll(`[name="${key}"]`);
              if (!!radios) {
                radios.forEach((radio) => {
                  radio.checked = radio.value === value;
                });
              }
            }
          }
        };
        form.addEventListener("change", function (event) {
          var target = event.target,
            name = target.name,
            value = target.value;
          for (var key in themeConfig) {
            if (name === key) {
              document.documentElement.setAttribute("data-bs-" + key, value);
              window.localStorage.setItem("tabler-" + key, value);
              url.searchParams.set(key, value);
            }
          }
          window.history.pushState({}, "", url);
        });
        resetButton.addEventListener("click", function () {
          for (var key in themeConfig) {
            var value = themeConfig[key];
            document.documentElement.removeAttribute("data-bs-" + key);
            window.localStorage.removeItem("tabler-" + key);
            url.searchParams.delete(key);
          }
          checkItems();
          window.history.pushState({}, "", url);
        });
        checkItems();
      });
    </script>

    {% block page_scripts -%}
    {% endblock page_scripts -%}
    <!-- END PAGE SCRIPTS -->
  </body>
  {%- endblock html %}

</html>
