{% extends "base-bare.html" %}

{% block page_body %}
<main id="content" class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-sm-6 col-lg-3">
        <div class="card card-md">
          <div class="ribbon ribbon-top ribbon-bookmark bg-green">
            <!-- Download SVG icon from http://tabler.io/icons/icon/star -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon icon-3">
              <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
            </svg>
          </div>
          <div class="card-body text-center">
            <div class="text-uppercase text-secondary font-weight-medium">Data Manager</div>
            <div class="display-5 fw-bold my-3">&nbsp;</div>
            <ul class="list-unstyled lh-lg">
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon me-1 text-success icon-2">
                  <path d="M5 12l5 5l10 -10" />
                </svg>Base de datos</li>
            </ul>
            <div class="text-center mt-4">
              <a href="{{ url_for('admin.index')}}" class="btn btn-green w-100">Abrir Data Manager</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card card-md">
          <div class="card-body text-center">
            <div class="text-uppercase text-secondary font-weight-medium">POS</div>
            <div class="display-5 fw-bold my-3">&nbsp;</div>
            <ul class="list-unstyled lh-lg">
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon me-1 text-success icon-2">
                  <path d="M5 12l5 5l10 -10" />
                </svg>POS para Ventas</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon me-1 text-success icon-2">
                  <path d="M5 12l5 5l10 -10" />
                </svg>POS para Canjes</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon me-1 text-success icon-2">
                  <path d="M5 12l5 5l10 -10" />
                </svg>Registro de productos</li>
            </ul>
            <div class="text-center mt-4">
              <a href="{{ url_for('pos.index')}}" class="btn btn-green w-100">Abrir App POS</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <div class="card card-md">
          <div class="card-body text-center">
            <div class="text-uppercase text-secondary font-weight-medium">Apoderados</div>
            <div class="display-5 fw-bold my-3">&nbsp;</div>
            <ul class="list-unstyled lh-lg">
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon me-1 text-success icon-2">
                  <path d="M5 12l5 5l10 -10" />
                </svg>Abonos (Creacion, Historial)</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon me-1 text-success icon-2">
                  <path d="M5 12l5 5l10 -10" />
                </svg>Menu Semanal y productos del cafe</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" focusable="false" class="icon me-1 text-success icon-2">
                  <path d="M5 12l5 5l10 -10" />
                </svg>Configurar Restricciones y Limites</li>
            </ul>
            <div class="text-center mt-4">
              <a href="{{ url_for('apoderado.index')}}" class="btn btn-green w-100">Abrir App Apoderados</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
{% endblock page_body %}
